<div class="info">
  <h1>Child Name: {{ name }}</h1>
  <p>Age: {{ age > 5 ? "More than 6 years" : "Less than 6 years" }}</p>
  <!-- Interpolation -->

  <label>
    Course:
    <input type="text" #course />
    <button type="submit" (click)="onSave(course.value)">Enter</button>
  </label>
  <p>
    Course Attending: <strong>{{ course.value }}</strong>
  </p>

  <!-- Dinamic text with keyup -->
  <label>
    Season:
    <input type="text" #season (keyup)="(0)" />
    <p>
      Course Season: <strong>{{ season.value }}</strong>
    </p>
  </label>

  <!-- Binding -->
  <label>
    Payment Done
    <input
      type="checkbox"
      id="paid"
      [checked]="paid"
      (click)="setcoursePaid()"
    />
  </label>
  <br /><br />

  <!--Two Way Data Binding -->
  <label>
    Write Comments:
    <input type="text" [(ngModel)]="comment" />
    <p>Commented: {{ comment }}</p>
  </label>
</div>
